{% load static %}
      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Copyright &copy; 2021 | Powered by Django, Python and Bootstrap.</p>
        </div>
      </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write("<script src={% static 'js/jquery-slim.min.js' %}><\/script>")</script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>